


.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
}
header{
    background-image: url("images/Hero-bg.png");
    height: 652px;
    width: 100%;
    margin: 50px 0;
}
.header-main-div{
    text-align: center;
    padding: 80px;
   
}
.header-main-div img{
    width: 300px;
}
.h4-tag{
    font-weight: 300;
    font-size: 16px;
}
.header-btn{
    background-color:#0D1321;
    color: white;
    padding: 21px 24px;
    border-radius: 5px;
    font-weight: bold;
    width: 250px;
    font-size: 20px;
   
}
.main-div{
    width: 1000px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}
.main-top{
    text-align: center;
}
.main-div > p{
    font-weight: 300px;
}
.main-1st-parah3{
    font-weight:bold
}
.main-1st-parap1{
    font-weight: 300px;
    margin: 30px 0px;
}
.layer1{
    display: flex;
    justify-content:space-between ;
    text-align: left;
    margin: 90px 0px;
}
.layer1-sub{
    width: 400px;
}
.layer1-btn{
    padding: 10px;
    width: 150px;
    margin-top: 16px;
}
.layer2{
    display: flex;
}
.layer2 img{
    margin-right: 40px;
}
.inspiration-part{
    text-align: center;
}
iframe{
    border-radius: 10px;
}
.my-target{
    text-align: center;
    margin-top: 70px;
}
span{
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
a{
    color:black;
}
.card-1 {
width: 320px;
background-color: rgba(221, 204, 184, 0.212);


}
.card-2 {
    width: 320px;
    background-color: #6c9d9e5d;
    height: 100%;
    
    }
.card-3 {
        width: 320px;
        background-color: #d4c87e54;
        padding-bottom: 20px;
        
        }
.card-main{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
}
.card-text{
    margin-left: 20px;
   padding-top: 20px;
}
.support{
    background-image: url("images/handshake.jpg");
    width: 1000;
    height: 400px;
    background-size: cover;
    margin-top: 90px;
    border-radius: 15px;
    
}
.support-text{
    color: white;
    text-align: center;
    padding-top: 80px;
}
.support-text p{
    font-weight: 50;
}
.support-text h3{
    font-size: 30px;
}
.Input-sup{
    width: 300px;
    height: 30px;
    border-radius: 10px;
}
.btn-sub{
    text-align: center;
    margin-top: 100px;
}
.btn-sub button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-color: none;
    font-weight: bold;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1000px;
    text-align: center;
    margin:50px auto 0px auto;
    
}
.footer-img{
margin-top: 14px;
}